<!doctype html>
<html>
  <head>
    <title><%= title %> | About</title>
  </head>
  <body>
    <h1>Lorizzle ipsizzle dolizzle sizzle things, mofo adipiscing elit. Nullam da bomb fizzle, aliquet volutpizzle, shit quis, gravida vizzle, i'm in the shizzle. Pellentesque for sure tortor. Sed eros. The bizzle shizznit dolor dapibus turpizzle tempus crunk. Maurizzle uhuh ... yih! things fo shizzle turpizzle. Shiz i'm in the shizzle shiz. Pellentesque that's the shizzle mammasay mammasa mamma oo sa ghetto. In boofron cool platea dictumst. dapibizzle. Boom shackalack tellizzle urna, pretizzle eu, mattizzle rizzle, pizzle away, boom shackalack. Doggy suscipizzle. Integizzle sempizzle velit sizzle purizzle.</h1>
  </body>
</html>
